@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/*contenido general */
*{
	
	margin: 0;
}

body{
	background: #02010a;
	font-family: 'Dancing Script';
	color: white;
}

.contenido{
	width: 900px;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	animation-name: entrada;
	animation-duration: 0.5s;
}

@keyframes entrada{
	0%{
		transform: translateY(500px);
		opacity: 0;
	}
	60%{
		transform: translateY(-15px);
		opacity: 0.5;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}

/*seccion de encabezado*/

header{
	width: 100%;
	background: #5b7989;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-end;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px 10px 0 0;
	margin: 0;
}

h1{
	margin: 20px;
	margin: 20px;
	text-shadow: 2px 2px #02010a;
}

header a{
	margin-right: 20px;
	font-size: 1.5em;
}

header a:nth-child(1){
	text-decoration: none;	
}

header a:visited{
	color: lightblue;
}

/* seccion de imagenes */

section{
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	width: 100%;
	margin:0;
}

#centro{
	background: #82c3a6;
	width: 100%;
	text-align: center;
}

#img_centro{
	margin: 1%;
	width: 60%;
	box-shadow: 2px 2px #02010a;
}

#izquierda, #derecha{
	background:  #d5c75f;
	width: 50%;
	text-align: center;
}

#img_paisaje{
	width: 80%;
	border: 1px solid #000000;
	margin: 1%;
	box-shadow: 2px 2px #02010a;
	-ms-transition: transform 1s;
	-webkit-transition: transform 1s;
	transition: transform 1s;
}

#img_retrato{
	width: 80%;
	border: 1px solid #000000;
	margin: 1%;
	box-shadow: 2px 2px #02010a;
	-ms-transition: transform 1s;
	-webkit-transition: transform 1s;
	transition: transform 1s;
}

#img_paisaje:hover{
	-ms-transform: rotateZ(10deg);
	-webkit-transform: rotateZ(10deg);
	transform: rotateZ(10deg);
	box-shadow: 2px 2px #82c3a6;
}

#img_retrato:hover{
	-ms-transform: translate(20px,-5px);
	-webkit-transform: translate(20px,-5px);
	transform: translate(20px,-5px);
	box-shadow: 2px 2px #82c3a6;
}

/*footer*/

footer{
	width: 100%;
	background: #C6d5c5;
	color: black;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	border-radius: 0 0 10px 10px;
}

span{
	display: block;
}

.icono{
	width: 1em;
}

footer div{
	width: 20%;
	margin: 20px 0 20px 0;

}

#derechos{
	font-size: .8em;
}

@media (max-width:900px){
	.contenido{
		width: 100%;
		margin: 20px 0 20px 0;
	}
	header{
		justify-content: center;
	}
	
	#img_centro{
		width: 80%;
	}

	#izquierda, #derecha{
		width: 100%;
	}
	
	footer div{
		width: 100%;
		margin-left: 20px;
	}
	
}




